---
layout: master
---
<div id="header">
	<h1>
		<a href="{{ page.url }}">{{ page.title }}</a>
	</h1>

	<h2>
		<a href="{{ page.url }}">{{ page.url }}</a>
	</h2>

	<h3>
		published {{ page.date | date_to_string }}
	</h3>
</div>

<div id="bit">
	{{ content }}
</div>

<h2>
	Questions?
</h2>

<p>
	Should you have any questions or comments just drop me an email and I'll be happy to respond! You can find the contact information on... the <a href="{{ site.url }}/contact.html">contact</a> page. Or use the comment box below.
</p>

<h2>
	Comments?
</h2>

<p>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		var disqus_shortname = 'en-onoclea';
		var disqus_identifier = '{{ page.id }}';
		var disqus_url = '{{ site.url }}{{ page.url }}';

		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>

	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</p>
